	
<p>お薬登録ページ</p>

<%= form_with model: @receiveddate, local: true do |f| %>

    
    


    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
 
    <div class="new-items">
      <div class="weight-bold-text">
        日付
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :date, class:"items-text", id:"item-name", placeholder:"日付", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          病院名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :hospital_name, class:"items-text", id:"item-info", placeholder:"病院名"  ,maxlength:"40" %>
      </div>
      <div class="items-explain">
      <#% @medications.each do |medication| %>
        <div class="weight-bold-text">
          薬
          <span class="indispensable">必須</span>
        </div>
        <div>
        <%= f.text_field :medicine_name, class:"items-text", id:"item-info", placeholder:"薬名"  ,maxlength:"40" %>
        </div>
        <div>
        <%= f.text_field :timing, class:"items-text", id:"item-info", placeholder:"飲むタイミング"  ,maxlength:"40" %>
        </div>
        <div>
        <%= f.text_field :indibidual, class:"items-text", id:"item-info", placeholder:"個数"  ,maxlength:"40" %>
        </div>
        <div>
        <%= f.text_field :days_supply, class:"items-text", id:"item-info", placeholder:"何日分"  ,maxlength:"40" %>
        </div>
        <div>
        <%= f.text_area :notes, class:"items-text", id:"item-info", placeholder:"注意事項",rows:"7" ,maxlength:"40" %>
        </div>
      <#% end %>
      </div>
    </div>
  
    
 
   


   


    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>